$color-black: black;
$color-white: white;
$color-primary: mediumslateblue;
$color-danger: tomato;

$colors: (
  black: $color-black,
  white: $color-white,
  primary: $color-primary,
  danger: $color-danger
);
