.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.5);

  & > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.modal-dialog {
  display: inline-block;
  padding: 8px;
  text-align: left;
  background-color: $color-white;
}

#tone-window-button canvas,
#drawing-canvas,
#preview-canvas {
  border: 1px solid rgba($color-black, 0.1);
}

#background-dialog {
  button {
    border: 3px solid rgba($color-black, 0.1);

    img {
      width: 160px;
      height: auto;
      vertical-align: bottom;
    }
  }
}

#drawing-dialog {
  #toolbar {
    margin-bottom: 4px;
    overflow-x: auto;
    white-space: nowrap;

    & > div {
      display: inline-block;
      margin: 0 8px;
      vertical-align: middle;
    }

    .history-button {
      vertical-align: middle;

      &:disabled {
        opacity: 0.25;
      }

      img {
        vertical-align: middle;
      }
    }

    #background-button {
      img {
        width: 32px;
        height: auto;
        vertical-align: middle;
      }
    }

    .pencil-button {
      width: 32px;
      height: 32px;
      vertical-align: middle;
      border: 1px solid rgba($color-black, 0.1);
      border-radius: 50%;

      &.active {
        background-color: rgba($color-primary, 0.5);
        border-color: transparent;
      }
    }

    .palette-button {
      width: 32px;
      height: 32px;
      vertical-align: sub;
      background-position: center;
      border: 1px solid rgba($color-black, 0.1);
      border-width: 3px;
      border-radius: 50%;

      &.active {
        border-color: $color-primary;
      }
    }
  }

  .canvas-container {
    position: relative;
    margin-bottom: 4px;

    #background-image {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 640px;
      height: auto;
    }

    #drawing-canvas {
      position: relative;
    }

    #stick-cursor {
      position: absolute;
      display: none;

      div {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 2px;
        height: 2px;
        border-top: 2px solid $color-black;

        &:nth-child(2) {
          left: 3px;
        }

        &:nth-child(3) {
          top: 3px;
        }

        &:nth-child(4) {
          top: 3px;
          left: 3px;
        }

        &:nth-child(5) {
          top: 1px;
          left: 1px;
          border-color: $color-white;
        }
      }
    }
  }

  #text-input {
    display: block;
    width: 100%;
    border: 1px solid rgba($color-black, 0.1);

    &.active {
      border-color: $color-primary;
      border-width: 2px;
    }

    &:not(.active) {
      padding: 1px;
    }
  }
}

#tone-dialog {
  .tone-button {
    width: 64px;
    height: 64px;
    margin: 4px;
    background-color: rgba($color-black, 0.1);
    border: 1px solid rgba($color-black, 0.1);
    border-radius: 50%;
  }
}
