html {
  overscroll-behavior: none;
}

.noscroll {
  position: fixed;
}

.container {
  padding-right: 8px;
  padding-left: 8px;

  & > div {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
}
